@await Component.InvokeAsync("CartSummary")

@{
    string name = "User";
    string avatar = "/images/default-profile-picture.png";

    if (User.Identity.IsAuthenticated)
    {
        name = User.Claims
            .FirstOrDefault(c => c.Type.Equals("preferred_username", StringComparison.OrdinalIgnoreCase))?.Value ?? "User";
        avatar = User.Claims
            .FirstOrDefault(c => c.Type.Equals("avatar", StringComparison.OrdinalIgnoreCase))?.Value ?? "/images/default-profile-picture.png";
    }
}

@if (User.Identity.IsAuthenticated)
{
    <div class="dropdown ms-4 nav-color">
        <button class="btn btn-secondary dropdown-toggle"
                type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            @name
            <img src="@avatar" width="30"
                 alt="@name" class="rounded nav-color" />
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
                <span class="dropdown-item-text">
                    <img src="@avatar"
                         width="50" alt="@name" class="rounded" />
                    @name
                </span>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="form-inline">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <div class="ms-4">
        <a asp-controller="Account" asp-action="Login" class="btn btn-link text-light">Login</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-link text-light">Register</a>
    </div>
}
